{
    "swagger": "2.0",
    "info": {
        "version": "3",
        "title": "API",
        "description": "## Welcome\n\nThis is a place to put general notes and extra information, for internal use.\n\nTo get started designing/documenting this API, select a version on the left. # Title\nNo Description"
    },
    "host": "api.themoviedb.org",
    "basePath": "/3",
    "schemes": [
        "https",
        "http"
    ],
    "produces": [
        "application/json"
    ],
    "securityDefinitions": {
        "api_key": {
            "name": "api_key",
            "type": "apiKey",
            "in": "query"
        }
    },
    "paths": {
        "/account": {
            "get": {
                "operationId": "get-current-account-details",
                "summary": "Get Details",
                "tags": [
                    "Account"
                ],
                "description": "Get your account details.",
                "parameters": [
                    {
                        "$ref": "#/parameters/trait:session:session_id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/account-details"
                        },
                        "examples": {
                            "application/json": {
                                "avatar": {
                                    "gravatar": {
                                        "hash": "c9e9fc152ee756a900db85757c29815d"
                                    }
                                },
                                "id": 548,
                                "iso_639_1": "en",
                                "iso_3166_1": "CA",
                                "name": "Travis Bell",
                                "include_adult": true,
                                "username": "travisbell"
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/responses/StatusCodeMsgResponse"
                    },
                    "404": {
                        "$ref": "#/responses/StatusCodeMsgResponse"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/account/{account_id}/lists": {
            "parameters": [
                {
                    "name": "account_id",
                    "in": "path",
                    "required": true,
                    "type": "integer"
                }
            ],
            "get": {
                "operationId": "get-current-account-lists-paginated",
                "summary": "Get Created Lists",
                "tags": [
                    "Account"
                ],
                "description": "Get all of the lists created by an account. Will invlude private lists if you are the owner.",
                "parameters": [
                    {
                        "$ref": "#/parameters/trait:session:session_id"
                    },
                    {
                        "$ref": "#/parameters/trait:languageParam:language"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/lists-paginated"
                        },
                        "examples": {
                            "application/json": {
                                "page": 1,
                                "results": [
                                    {
                                        "description": "Name pretty much says it all, here's the top 50 grossing films of all time.",
                                        "favorite_count": 0,
                                        "id": 10,
                                        "item_count": 0,
                                        "iso_639_1": "en",
                                        "list_type": "movie",
                                        "name": "Top 50 Grossing Films of All Time (Worldwide)",
                                        "poster_path": null
                                    }
                                ],
                                "total_pages": 4,
                                "total_results": 61
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/responses/StatusCodeMsgResponse"
                    },
                    "404": {
                        "$ref": "#/responses/StatusCodeMsgResponse"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/account/{account_id}/favorite/movies": {
            "parameters": [
                {
                    "name": "account_id",
                    "in": "path",
                    "required": true,
                    "type": "integer"
                }
            ],
            "get": {
                "operationId": "get-account-favorite-movies-paginated",
                "summary": "Get Favorite Movies",
                "tags": [
                    "Account"
                ],
                "description": "Get the list of your favorite movies.",
                "parameters": [
                    {
                        "$ref": "#/parameters/trait:session:session_id"
                    },
                    {
                        "$ref": "#/parameters/trait:languageParam:language"
                    },
                    {
                        "$ref": "#/parameters/trait:accountSortByParam:sort_by"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/movie-paginated"
                        },
                        "examples": {
                            "application/json": {
                                "page": 1,
                                "results": [
                                    {
                                        "adult": false,
                                        "backdrop_path": null,
                                        "genre_ids": [
                                            16
                                        ],
                                        "id": 9806,
                                        "original_language": "en",
                                        "original_title": "The Incredibles",
                                        "overview": "Bob Parr has given up his superhero days to log in time as an insurance adjuster and raise his three children with his formerly heroic wife in suburbia. But when he receives a mysterious assignment, it's time to get back into costume.",
                                        "release_date": "2004-11-04",
                                        "poster_path": null,
                                        "popularity": 0.167525,
                                        "title": "The Incredibles",
                                        "video": false,
                                        "vote_average": 6.8,
                                        "vote_count": 1584
                                    }
                                ],
                                "total_pages": 4,
                                "total_results": 77
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/responses/StatusCodeMsgResponse"
                    },
                    "404": {
                        "$ref": "#/responses/StatusCodeMsgResponse"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/account/{account_id}/favorite/tv": {
            "parameters": [
                {
                    "name": "account_id",
                    "in": "path",
                    "required": true,
                    "type": "integer"
                }
            ],
            "get": {
                "operationId": "get-account-favorite-tv-paginated",
                "summary": "Get Favorite TV Shows",
                "tags": [
                    "Account"
                ],
                "description": "Get the list of your favorite TV shows.",
                "parameters": [
                    {
                        "$ref": "#/parameters/trait:languageParam:language"
                    },
                    {
                        "$ref": "#/parameters/trait:session:session_id"
                    },
                    {
                        "$ref": "#/parameters/trait:accountSortByParam:sort_by"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/tv-paginated"
                        },
                        "examples": {
                            "application/json": {
                                "page": 1,
                                "results": [
                                    {
                                        "backdrop_path": null,
                                        "first_air_date": "2007-09-24",
                                        "genre_ids": [
                                            10759
                                        ],
                                        "id": 1404,
                                        "original_language": "en",
                                        "original_name": "Chuck",
                                        "overview": "Chuck is an American action-comedy/spy-drama television series created by Josh Schwartz and Chris Fedak. The series is about an \"average computer-whiz-next-door\" named Chuck, played by Zachary Levi, who receives an encoded e-mail from an old college friend now working for the Central Intelligence Agency; the message embeds the only remaining copy of a software program containing the United States' greatest spy secrets into Chuck's brain.",
                                        "origin_country": [
                                            "US"
                                        ],
                                        "poster_path": null,
                                        "popularity": 0.125125,
                                        "name": "Chuck",
                                        "vote_average": 8.2,
                                        "vote_count": 37
                                    }
                                ],
                                "total_pages": 3,
                                "total_results": 52
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/responses/StatusCodeMsgResponse"
                    },
                    "404": {
                        "$ref": "#/responses/StatusCodeMsgResponse"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/account/{account_id}/favorite": {
            "parameters": [
                {
                    "name": "account_id",
                    "in": "path",
                    "required": true,
                    "type": "integer"
                }
            ],
            "post": {
                "operationId": "post-account-favorite",
                "summary": "Mark as Favorite",
                "tags": [
                    "Account"
                ],
                "description": "This method allows you to mark a movie or TV show as a favorite item.",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/trait:mediaFavoriteBody"
                    },
                    {
                        "$ref": "#/parameters/trait:session:session_id"
                    },
                    {
                        "$ref": "#/parameters/trait:jsonContentType:Content-Type"
                    }
                ],
                "responses": {
                    "201": {
                        "$ref": "#/responses/StatusCodeMsgResponse"
                    },
                    "401": {
                        "$ref": "#/responses/StatusCodeMsgResponse"
                    },
                    "404": {
                        "$ref": "#/responses/StatusCodeMsgResponse"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/account/{account_id}/rated/movies": {
            "parameters": [
                {
                    "name": "account_id",
                    "in": "path",
                    "required": true,
                    "type": "integer"
                }
            ],
            "get": {
                "operationId": "get-account-rated-movies-paginated",
                "summary": "Get Rated Movies",
                "tags": [
                    "Account"
                ],
                "description": "Get a list of all the movies you have rated.",
                "parameters": [
                    {
                        "$ref": "#/parameters/trait:languageParam:language"
                    },
                    {
                        "$ref": "#/parameters/trait:session:session_id"
                    },
                    {
                        "$ref": "#/parameters/trait:accountSortByParam:sort_by"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/movie-paginated"
                        },
                        "examples": {
                            "application/json": {
                                "page": 1,
                                "results": [
                                    {
                                        "adult": false,
                                        "backdrop_path": null,
                                        "genre_ids": [
                                            28
                                        ],
                                        "id": 155,
                                        "original_language": "en",
                                        "original_title": "The Dark Knight",
                                        "overview": "Batman raises the stakes in his war on crime. With the help of Lt. Jim Gordon and District Attorney Harvey Dent, Batman sets out to dismantle the remaining criminal organizations that plague the streets. The partnership proves to be effective, but they soon find themselves prey to a reign of chaos unleashed by a rising criminal mastermind known to the terrified citizens of Gotham as the Joker.",
                                        "release_date": "2008-07-18",
                                        "poster_path": null,
                                        "popularity": 0.293783,
                                        "title": "The Dark Knight",
                                        "video": false,
                                        "vote_average": 7.9,
                                        "vote_count": 5504,
                                        "rating": 9
                                    }
                                ],
                                "total_pages": 31,
                                "total_results": 605
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/responses/StatusCodeMsgResponse"
                    },
                    "404": {
                        "$ref": "#/responses/StatusCodeMsgResponse"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/account/{account_id}/rated/tv": {
            "parameters": [
                {
                    "name": "account_id",
                    "in": "path",
                    "required": true,
                    "type": "integer"
                }
            ],
            "get": {
                "operationId": "get-account-rated-tv-paginated",
                "summary": "Get Rated TV Shows",
                "tags": [
                    "Account"
                ],
                "description": "Get a list of all the TV shows you have rated.",
                "parameters": [
                    {
                        "$ref": "#/parameters/trait:languageParam:language"
                    },
                    {
                        "$ref": "#/parameters/trait:session:session_id"
                    },
                    {
                        "$ref": "#/parameters/trait:accountSortByParam:sort_by"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/tv-paginated"
                        },
                        "examples": {
                            "application/json": {
                                "page": 1,
                                "results": [
                                    {
                                        "backdrop_path": null,
                                        "first_air_date": "2008-09-09",
                                        "genre_ids": [
                                            18
                                        ],
                                        "id": 1705,
                                        "original_language": "en",
                                        "original_name": "Fringe",
                                        "overview": "Fringe is an American science fiction television series that follows Olivia Dunham, Peter Bishop, and Walter Bishop, members of a Federal Bureau of Investigation \"Fringe Division\" team based in Boston, Massachusetts under the supervision of Homeland Security. The team uses \"fringe\" science and FBI investigative techniques to investigate a series of unexplained, often ghastly occurrences, which are related to mysteries surrounding a parallel universe. The series has been described as a hybrid of The X-Files, Altered States, and The Twilight Zone.",
                                        "origin_country": [
                                            "US"
                                        ],
                                        "poster_path": null,
                                        "popularity": 0.372415,
                                        "name": "Fringe",
                                        "vote_average": 8.4,
                                        "vote_count": 46,
                                        "rating": 9
                                    }
                                ],
                                "total_pages": 7,
                                "total_results": 139
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/responses/StatusCodeMsgResponse"
                    },
                    "404": {
                        "$ref": "#/responses/StatusCodeMsgResponse"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/account/{account_id}/rated/tv/episodes": {
            "parameters": [
                {
                    "name": "account_id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ],
            "get": {
                "operationId": "get-account-rated-tv-episodes-paginated",
                "summary": "Get Rated TV Episodes",
                "tags": [
                    "Account"
                ],
                "description": "Get a list of all the TV episodes you have rated.",
                "parameters": [
                    {
                        "$ref": "#/parameters/trait:languageParam:language"
                    },
                    {
                        "$ref": "#/parameters/trait:session:session_id"
                    },
                    {
                        "$ref": "#/parameters/trait:accountSortByParam:sort_by"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/tv-episodes-paginated"
                        },
                        "examples": {
                            "application/json": {
                                "page": 1,
                                "results": [
                                    {
                                        "_id": "5256cff619c2956ff60a2ce2",
                                        "air_date": "2013-10-15",
                                        "episode_number": 5,
                                        "name": "The Workplace Proximity",
                                        "id": 64782,
                                        "season_number": 7,
                                        "still_path": null,
                                        "show_id": 1418,
                                        "vote_average": 8.5,
                                        "vote_count": 3,
                                        "rating": 8
                                    }
                                ],
                                "total_pages": 2,
                                "total_results": 21
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/responses/StatusCodeMsgResponse"
                    },
                    "404": {
                        "$ref": "#/responses/StatusCodeMsgResponse"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/account/{account_id}/watchlist/movies": {
            "parameters": [
                {
                    "name": "account_id",
                    "in": "path",
                    "required": true,
                    "type": "integer"
                }
            ],
            "get": {
                "operationId": "get-account-watchlist-movies-paginated",
                "summary": "Get Movie Watchlist",
                "tags": [
                    "Account"
                ],
                "description": "Get a list of all the movies you have added to your watchlist.",
                "parameters": [
                    {
                        "$ref": "#/parameters/trait:languageParam:language"
                    },
                    {
                        "$ref": "#/parameters/trait:session:session_id"
                    },
                    {
                        "$ref": "#/parameters/trait:accountSortByParam:sort_by"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/movie-paginated"
                        },
                        "examples": {
                            "application/json": {
                                "page": 1,
                                "results": [
                                    {
                                        "adult": false,
                                        "backdrop_path": null,
                                        "genre_ids": [
                                            18
                                        ],
                                        "id": 76726,
                                        "original_language": "it",
                                        "original_title": "Chronicle",
                                        "overview": "Three high school students make an incredible discovery, leading to their developing uncanny powers beyond their understanding. As they learn to control their abilities and use them to their advantage, their lives start to spin out of control, and their darker sides begin to take over.",
                                        "release_date": "2012-02-02",
                                        "poster_path": null,
                                        "popularity": 0.237951,
                                        "title": "Chronicle",
                                        "video": false,
                                        "vote_average": 6.2,
                                        "vote_count": 545
                                    }
                                ],
                                "total_pages": 14,
                                "total_results": 277
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/responses/StatusCodeMsgResponse"
                    },
                    "404": {
                        "$ref": "#/responses/StatusCodeMsgResponse"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/account/{account_id}/watchlist/tv": {
            "parameters": [
                {
                    "name": "account_id",
                    "in": "path",
                    "required": true,
                    "type": "integer"
                }
            ],
            "get": {
                "operationId": "get-account-watchlist-tv-paginated",
                "summary": "Get TV Show Watchlist",
                "tags": [
                    "Account"
                ],
                "description": "Get a list of all the TV shows you have added to your watchlist.",
                "parameters": [
                    {
                        "$ref": "#/parameters/trait:languageParam:language"
                    },
                    {
                        "$ref": "#/parameters/trait:session:session_id"
                    },
                    {
                        "$ref": "#/parameters/trait:accountSortByParam:sort_by"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/tv-paginated"
                        },
                        "examples": {
                            "application/json": {
                                "page": 1,
                                "results": [
                                    {
                                        "backdrop_path": null,
                                        "first_air_date": "2013-09-26",
                                        "genre_ids": [
                                            35
                                        ],
                                        "id": 58932,
                                        "original_language": "en",
                                        "original_name": "The Crazy Ones",
                                        "overview": "The Crazy Ones is an American situation comedy series created by David E. Kelley that stars Robin Williams and Sarah Michelle Gellar. The single-camera project premiered on CBS on September 26, 2013, as part of the 2013–14 American television season as a Thursday night 9 pm entry. Bill D'Elia, Dean Lorey, Jason Winer, John Montgomery and Mark Teitelbaum serve as executive producers for 20th Century Fox Television.",
                                        "origin_country": [
                                            "US"
                                        ],
                                        "poster_path": null,
                                        "popularity": 0.075407,
                                        "name": "The Crazy Ones",
                                        "vote_average": 5.3,
                                        "vote_count": 4
                                    }
                                ],
                                "total_pages": 4,
                                "total_results": 64
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/responses/StatusCodeMsgResponse"
                    },
                    "404": {
                        "$ref": "#/responses/StatusCodeMsgResponse"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/account/{account_id}/watchlist": {
            "parameters": [
                {
                    "name": "account_id",
                    "in": "path",
                    "required": true,
                    "type": "integer"
                }
            ],
            "post": {
                "operationId": "post-account-watchlist",
                "summary": "Add to Watchlist",
                "tags": [
                    "Account"
                ],
                "description": "Add a movie or TV show to your watchlist.",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/trait:mediaWatchlistBody"
                    },
                    {
                        "$ref": "#/parameters/trait:jsonContentType:Content-Type"
                    },
                    {
                        "$ref": "#/parameters/trait:session:session_id"
                    }
                ],
                "responses": {
                    "201": {
                        "$ref": "#/responses/StatusCodeMsgResponse"
                    },
                    "401": {
                        "$ref": "#/responses/StatusCodeMsgResponse"
                    },
                    "404": {
                        "$ref": "#/responses/StatusCodeMsgResponse"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/authentication/guest_session/new": {
            "get": {
                "operationId": "get-new-authentication-guest-session",
                "summary": "Create Guest Session",
                "tags": [
                    "Authentication"
                ],
                "description": "This method will let you create a new guest session. Guest sessions are a type of session that will let a user rate movies and TV shows but not require them to have a TMDb user account. More information about user authentication can be found [here](#docTextSection:NSZtgz7zptsiLYxXZ).\n\nPlease note, you should only generate a single guest session per user (or device) as you will be able to attach the ratings to a TMDb user account in the future. There is also IP limits in place so you should always make sure it's the end user doing the guest session actions.\n\nIf a guest session is not used for the first time within 24 hours, it will be automatically deleted.",
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/guest-session-response"
                        },
                        "examples": {
                            "application/json": {
                                "success": true,
                                "guest_session_id": "1ce82ec1223641636ad4a60b07de3581",
                                "expires_at": "2016-08-27 16:26:40 UTC"
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/responses/StatusCodeMsgResponse"
                    },
                    "404": {
                        "$ref": "#/responses/StatusCodeMsgResponse"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/authentication/token/new": {
            "get": {
                "operationId": "get-new-authentication-token",
                "summary": "Create Request Token",
                "tags": [
                    "Authentication"
                ],
                "description": "Create a temporary request token that can be used to validate a TMDb user login. More details about how this works can be found [here](#docTextSection:NSZtgz7zptsiLYxXZ).",
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/token-response-with-expiration"
                        },
                        "examples": {
                            "application/json": {
                                "success": true,
                                "expires_at": "2016-08-26 17:04:39 UTC",
                                "request_token": "ff5c7eeb5a8870efe3cd7fc5c282cffd26800ecd"
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/responses/StatusCodeMsgResponse"
                    },
                    "404": {
                        "$ref": "#/responses/StatusCodeMsgResponse"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/authentication/session": {
            "delete": {
                "operationId": "delete-authentication-session",
                "summary": "Delete Session",
                "tags": [
                    "Authentication"
                ],
                "description": "If you would like to delete (or \"logout\") from a session, call this method with a valid session ID.",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/trait:session:session_id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/success-response"
                        },
                        "examples": {
                            "application/json": {
                                "success": true
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/responses/StatusCodeMsgResponse"
                    },
                    "404": {
                        "$ref": "#/responses/StatusCodeMsgResponse"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/authentication/session/convert/4": {
            "post": {
                "operationId": "post-authentication-session-convert-4",
                "summary": "Create Session (from v4 access token)",
                "tags": [
                    "Authentication"
                ],
                "description": "Use this method to create a v3 session ID if you already have a valid v4 access token. The v4 token needs to be authenticated by the user. Your standard \"read token\" will not validate to create a session ID.",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/trait:tokenBody"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/session-response"
                        },
                        "examples": {
                            "application/json": {
                                "success": true,
                                "session_id": "2629f70fb498edc263a0adb99118ac41f0053e8c"
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/responses/StatusCodeMsgResponse"
                    },
                    "404": {
                        "$ref": "#/responses/StatusCodeMsgResponse"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/authentication/session/new": {
            "get": {
                "operationId": "get-new-authentication-session",
                "summary": "Create Session",
                "tags": [
                    "Authentication"
                ],
                "description": "You can use this method to create a fully valid session ID once a user has validated the request token. More information about how this works can be found [here](#docTextSection:NSZtgz7zptsiLYxXZ).",
                "parameters": [
                    {
                        "name": "request_token",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/session-response"
                        },
                        "examples": {
                            "application/json": {
                                "success": true,
                                "session_id": "79191836ddaa0da3df76a5ffef6f07ad6ab0c641"
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/responses/StatusCodeMsgResponse"
                    },
                    "404": {
                        "$ref": "#/responses/StatusCodeMsgResponse"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/authentication/token/validate_with_login": {
            "get": {
                "operationId": "get-validate-authentication-token-with-login",
                "summary": "Validate Request Token",
                "tags": [
                    "Authentication"
                ],
                "description": "This method allows an application to validate a request token by entering a username and password.\n\n#### Caution\nPlease note, using this method is **strongly discouraged**. The preferred method of validating a request token is to have a user authenticate the request via the TMDb website. You can read about that method [here](#docTextSection:NSZtgz7zptsiLYxXZ).",
                "parameters": [
                    {
                        "name": "username",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "request_token",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/token-response"
                        },
                        "examples": {
                            "application/json": {
                                "success": true,
                                "request_token": "496584e52d7d11cc6f44a1302fa89598c0addc85"
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/responses/StatusCodeMsgResponse"
                    },
                    "404": {
                        "$ref": "#/responses/StatusCodeMsgResponse"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/certification/movie/list": {
            "get": {
                "operationId": "get-movie-certifications-list",
                "summary": "Get Movie Certifications",
                "tags": [
                    "Certifications"
                ],
                "description": "Get an up to date list of the officially supported movie certifications on TMDb.",
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/certifications"
                        },
                        "examples": {
                            "application/json": {
                                "certifications": {
                                    "US": [
                                        {
                                            "certification": "G",
                                            "meaning": "All ages admitted. There is no content that would be objectionable to most parents. This is one of only two ratings dating back to 1968 that still exists today.",
                                            "order": 1
                                        },
                                        {
                                            "certification": "PG-13",
                                            "meaning": "Some material may be inappropriate for children under 13. Films given this rating may contain sexual content, brief or partial nudity, some strong language and innuendo, humor, mature themes, political themes, terror and/or intense action violence. However, bloodshed is rarely present. This is the minimum rating at which drug content is present.",
                                            "order": 3
                                        },
                                        {
                                            "certification": "R",
                                            "meaning": "Under 17 requires accompanying parent or adult guardian 21 or older. The parent/guardian is required to stay with the child under 17 through the entire movie, even if the parent gives the child/teenager permission to see the film alone. These films may contain strong profanity, graphic sexuality, nudity, strong violence, horror, gore, and strong drug use. A movie rated R for profanity often has more severe or frequent language than the PG-13 rating would permit. An R-rated movie may have more blood, gore, drug use, nudity, or graphic sexuality than a PG-13 movie would admit.",
                                            "order": 4
                                        },
                                        {
                                            "certification": "NC-17",
                                            "meaning": "These films contain excessive graphic violence, intense or explicit sex, depraved, abhorrent behavior, explicit drug abuse, strong language, explicit nudity, or any other elements which, at present, most parents would consider too strong and therefore off-limits for viewing by their children and teens. NC-17 does not necessarily mean obscene or pornographic in the oft-accepted or legal meaning of those words.",
                                            "order": 5
                                        },
                                        {
                                            "certification": "NR",
                                            "meaning": "No rating information.",
                                            "order": 0
                                        },
                                        {
                                            "certification": "PG",
                                            "meaning": "Some material may not be suitable for children under 10. These films may contain some mild language, crude/suggestive humor, scary moments and/or violence. No drug content is present. There are a few exceptions to this rule. A few racial insults may also be heard.",
                                            "order": 2
                                        }
                                    ],
                                    "CA": [
                                        {
                                            "certification": "18A",
                                            "meaning": "Persons under 18 years of age must be accompanied by an adult. In the Maritimes & Manitoba, children under the age of 14 are prohibited from viewing the film.",
                                            "order": 4
                                        },
                                        {
                                            "certification": "G",
                                            "meaning": "All ages.",
                                            "order": 1
                                        },
                                        {
                                            "certification": "PG",
                                            "meaning": "Parental guidance advised. There is no age restriction but some material may not be suitable for all children.",
                                            "order": 2
                                        },
                                        {
                                            "certification": "14A",
                                            "meaning": "Persons under 14 years of age must be accompanied by an adult.",
                                            "order": 3
                                        },
                                        {
                                            "certification": "A",
                                            "meaning": "Admittance restricted to people 18 years of age or older. Sole purpose of the film is the portrayal of sexually explicit activity and/or explicit violence.",
                                            "order": 5
                                        }
                                    ],
                                    "FR": [
                                        {
                                            "certification": "U",
                                            "meaning": "(Tous publics) valid for all audiences.",
                                            "order": 1
                                        },
                                        {
                                            "certification": "12",
                                            "meaning": "(Interdit aux moins de 12 ans) unsuitable for children younger than 12 or forbidden in cinemas for under 12.",
                                            "order": 3
                                        },
                                        {
                                            "certification": "10",
                                            "meaning": "(Déconseillé aux moins de 10 ans) unsuitable for children younger than 10 (this rating is only used for TV); equivalent in theatres : \"avertissement\" (warning), some scenes may be disturbing to young children and sensitive people; equivalent on video : \"accord parental\" (parental guidance).",
                                            "order": 2
                                        },
                                        {
                                            "certification": "16",
                                            "meaning": "(Interdit aux moins de 16 ans) unsuitable for children younger than 16 or forbidden in cinemas for under 16.",
                                            "order": 4
                                        },
                                        {
                                            "certification": "18",
                                            "meaning": "(Interdit aux mineurs) unsuitable for children younger than 18 or forbidden in cinemas for under 18.",
                                            "order": 5
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/responses/StatusCodeMsgResponse"
                    },
                    "404": {
                        "$ref": "#/responses/StatusCodeMsgResponse"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/certification/tv/list": {
            "get": {
                "operationId": "get-tv-certifications-list",
                "summary": "Get TV Certifications",
                "tags": [
                    "Certifications"
                ],
                "description": "Get an up to date list of the officially supported TV show certifications on TMDb.",
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/certifications"
                        },
                        "examples": {
                            "application/json": {
                                "certifications": {
                                    "RU": [
                                        {
                                            "certification": "18+",
                                            "meaning": "Restricted to People 18 or Older.",
                                            "order": 5
                                        },
                                        {
                                            "certification": "0+",
                                            "meaning": "Can be watched by Any Age.",
                                            "order": 1
                                        },
                                        {
                                            "certification": "6+",
                                            "meaning": "Only kids the age of 6 or older can watch.",
                                            "order": 2
                                        },
                                        {
                                            "certification": "12+",
                                            "meaning": "Only kids the age of 12 or older can watch.",
                                            "order": 3
                                        },
                                        {
                                            "certification": "16+",
                                            "meaning": "Only teens the age of 16 or older can watch.",
                                            "order": 4
                                        }
                                    ],
                                    "US": [
                                        {
                                            "certification": "NR",
                                            "meaning": "No rating information.",
                                            "order": 0
                                        },
                                        {
                                            "certification": "TV-Y",
                                            "meaning": "This program is designed to be appropriate for all children.",
                                            "order": 1
                                        },
                                        {
                                            "certification": "TV-Y7",
                                            "meaning": "This program is designed for children age 7 and above.",
                                            "order": 2
                                        },
                                        {
                                            "certification": "TV-G",
                                            "meaning": "Most parents would find this program suitable for all ages.",
                                            "order": 3
                                        },
                                        {
                                            "certification": "TV-PG",
                                            "meaning": "This program contains material that parents may find unsuitable for younger children.",
                                            "order": 4
                                        },
                                        {
                                            "certification": "TV-14",
                                            "meaning": "This program contains some material that many parents would find unsuitable for children under 14 years of age.",
                                            "order": 5
                                        },
                                        {
                                            "certification": "TV-MA",
                                            "meaning": "This program is specifically designed to be viewed by adults and therefore may be unsuitable for children under 17.",
                                            "order": 6
                                        }
                                    ],
                                    "FR": [
                                        {
                                            "certification": "NR",
                                            "meaning": "No rating information.",
                                            "order": 0
                                        },
                                        {
                                            "certification": "10",
                                            "meaning": "Not recommended for children under 10. Not allowed in children's television series.",
                                            "order": 1
                                        },
                                        {
                                            "certification": "12",
                                            "meaning": "Not recommended for children under 12. Not allowed air before 10:00 p.m. Some channels and programs are subject to exception.",
                                            "order": 2
                                        },
                                        {
                                            "certification": "16",
                                            "meaning": "Not recommended for children under 16. Not allowed air before 10:30 p.m. Some channels and programs are subject to exception.",
                                            "order": 3
                                        },
                                        {
                                            "certification": "18",
                                            "meaning": "Not recommended for persons under 18. Allowed between midnight and 5 a.m. and only in some channels, access to these programs is locked by a personal password.",
                                            "order": 4
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/responses/StatusCodeMsgResponse"
                    },
                    "404": {
                        "$ref": "#/responses/StatusCodeMsgResponse"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/collection/{collection_id}": {
            "parameters": [
                {
                    "name": "collection_id",
                    "in": "path",
                    "required": true,
                    "type": "integer"
                }
            ],
            "get": {
                "operationId": "get-collection-details",
                "summary": "Get Details",
                "tags": [
                    "Collections"
                ],
                "description": "Get collection details by id.",
                "parameters": [
                    {
                        "$ref": "#/parameters/trait:languageParam:language"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/collection-object"
                        },
                        "examples": {
                            "application/json": {
                                "id": 10,
                                "name": "Star Wars Collection",
                                "overview": "An epic space opera theatrical film series created by George Lucas.\r The first film in the franchise was originally released on May 25, 1977, by 20th Century Fox, and became a worldwide pop culture  phenomenon, followed by two sequels, released at three-year intervals. Sixteen years after the release of the trilogy's final film, the first in a new prequel trilogy of films was released, again released at three-year intervals, with the final film released on May 19, 2005.",
                                "poster_path": null,
                                "backdrop_path": "/shDFE0i7josMt9IKXdYpnMFFgNV.jpg",
                                "parts": [
                                    {
                                        "adult": false,
                                        "backdrop_path": null,
                                        "genre_ids": [
                                            12
                                        ],
                                        "id": 11,
                                        "original_language": "en",
                                        "original_title": "Star Wars: Episode IV - A New Hope",
                                        "overview": "Princess Leia is captured and held hostage by the evil Imperial forces in their effort to take over the galactic Empire. Venturesome Luke Skywalker and dashing captain Han Solo team together with the loveable robot duo R2-D2 and C-3PO to rescue the beautiful princess and restore peace and justice in the Empire.",
                                        "release_date": "1977-05-23",
                                        "poster_path": "/AbJBXaVPrdXROwb8KmgWUPU2XJX.jpg",
                                        "popularity": 1.411624,
                                        "title": "Star Wars: Episode IV - A New Hope",
                                        "video": false,
                                        "vote_average": 7.7,
                                        "vote_count": 2472
                                    }
                                ]
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/responses/StatusCodeMsgResponse"
                    },
                    "404": {
                        "$ref": "#/responses/StatusCodeMsgResponse"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/collection/{collection_id}/images": {
            "parameters": [
                {
                    "name": "collection_id",
                    "in": "path",
                    "required": true,
                    "type": "integer"
                }
            ],
            "get": {
                "operationId": "get-collection-images-list",
                "summary": "Get Images",
                "tags": [
                    "Collections"
                ],
                "description": "Get the images for a collection by id.",
                "parameters": [
                    {
                        "$ref": "#/parameters/trait:languageParam:language"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/images"
                        },
                        "examples": {
                            "application/json": {
                                "id": 10,
                                "backdrops": [
                                    {
                                        "aspect_ratio": 1.77777777777778,
                                        "file_path": "/shDFE0i7josMt9IKXdYpnMFFgNV.jpg",
                                        "height": 1080,
                                        "iso_639_1": null,
                                        "vote_average": 5.3125,
                                        "vote_count": 1,
                                        "width": 1920
                                    }
                                ],
                                "posters": [
                                    {
                                        "aspect_ratio": 0.666666666666667,
                                        "file_path": "/hznxm4di88tWJHiCGWYDXeKk1Ih.jpg",
                                        "height": 1500,
                                        "iso_639_1": "en",
                                        "vote_average": 5.3125,
                                        "vote_count": 1,
                                        "width": 1000
                                    }
                                ]
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/responses/StatusCodeMsgResponse"
                    },
                    "404": {
                        "$ref": "#/responses/StatusCodeMsgResponse"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/collection/{collection_id}/translations": {
            "parameters": [
                {
                    "name": "collection_id",
                    "in": "path",
                    "required": true,
                    "type": "integer"
                }
            ],
            "get": {
                "operationId": "get-collection-translations-list",
                "summary": "Get Translations",
                "tags": [
                    "Collections"
                ],
                "description": "Get the list translations for a collection by id.",
                "parameters": [
                    {
                        "$ref": "#/parameters/trait:languageParam:language"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/translations-list"
                        },
                        "examples": {
                            "application/json": {
                                "id": 645,
                                "translations": [
                                    {
                                        "iso_3166_1": "US",
                                        "iso_639_1": "en",
                                        "name": "English",
                                        "english_name": "English",
                                        "data": {
                                            "title": "",
                                            "overview": "The James Bond film series is a British series of spy films based on the fictional character of MI6 agent James Bond, codename \"007\". With all of the action, adventure, gadgetry & film scores that Bond is famous for.  (We do not consider the 1954 release of Casino Royale for this series because it was actually a television episode and not a theatrical film.)",
                                            "homepage": "http://www.007.com/"
                                        }
                                    },
                                    {
                                        "iso_3166_1": "MX",
                                        "iso_639_1": "es",
                                        "name": "Español",
                                        "english_name": "Spanish",
                                        "data": {
                                            "title": "",
                                            "overview": "",
                                            "homepage": ""
                                        }
                                    },
                                    {
                                        "iso_3166_1": "FR",
                                        "iso_639_1": "fr",
                                        "name": "Français",
                                        "english_name": "French",
                                        "data": {
                                            "title": "James Bond - Saga",
                                            "overview": "James Bond, agent 007, autorisé à tuer, est le héros de la plus longue saga cinématographique de tous les temps, au succès sans égal. Armé de son Walther PPK, accompagné des plus jolies filles de la terre et opposé aux plus cyniques des méchants, il a poursuivi le mal aux quatre coins du monde, survécu à la guerre froide et à la Chute du mur de Berlin.",
                                            "homepage": "http://www.007.com"
                                        }
                                    },
                                    {
                                        "iso_3166_1": "TW",
                                        "iso_639_1": "zh",
                                        "name": "普通话",
                                        "english_name": "Mandarin",
                                        "data": {
                                            "title": "007詹姆士龐德 系列",
                                            "overview": "",
                                            "homepage": ""
                                        }
                                    }
                                ]
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/responses/StatusCodeMsgResponse"
                    },
                    "404": {
                        "$ref": "#/responses/StatusCodeMsgResponse"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/company/{company_id}": {
            "parameters": [
                {
                    "name": "company_id",
                    "in": "path",
                    "required": true,
                    "type": "integer"
                }
            ],
            "get": {
                "operationId": "get-company-details",
                "summary": "Get Details",
                "tags": [
                    "Companies"
                ],
                "description": "Get a companies details by id.",
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/company-details"
                        },
                        "examples": {
                            "application/json": {
                                "description": null,
                                "headquarters": "San Francisco, California",
                                "homepage": "http://www.lucasfilm.com",
                                "id": 1,
                                "logo_path": null,
                                "name": "Lucasfilm",
                                "parent_company": null
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/responses/StatusCodeMsgResponse"
                    },
                    "404": {
                        "$ref": "#/responses/StatusCodeMsgResponse"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/company/{company_id}/images": {
            "parameters": [
                {
                    "name": "company_id",
                    "in": "path",
                    "required": true,
                    "type": "integer"
                }
            ],
            "get": {
                "operationId": "get-company-images",
                "summary": "Get Images",
                "tags": [
                    "Companies"
                ],
                "description": "Get company logos by id.",
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/images"
                        },
                        "examples": {
                            "application/json": {
                                "id": 670,
                                "logos": [
                                    {
                                        "aspect_ratio": 1.35,
                                        "file_path": "/rRGi5UkwvdOPSfr5Xf42RZUsYgd.png",
                                        "height": 240,
                                        "id": "5aa58f900e0a26075d02b913",
                                        "file_type": ".svg",
                                        "vote_average": 0,
                                        "vote_count": 0,
                                        "width": 324
                                    }
                                ]
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/responses/StatusCodeMsgResponse"
                    },
                    "404": {
                        "$ref": "#/responses/StatusCodeMsgResponse"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/company/{company_id}/movies": {
            "parameters": [
                {
                    "name": "company_id",
                    "in": "path",
                    "required": true,
                    "type": "integer"
                }
            ],
            "get": {
                "operationId": "get-company-movies-paginated",
                "summary": "Get Movies",
                "tags": [
                    "Companies"
                ],
                "description": "Get the movies of a company by id.\n\nWe highly recommend using [movie discover](#endpoint:p5NyoR7dM842S8G9j) instead of this method as it is much more flexible.",
                "parameters": [
                    {
                        "$ref": "#/parameters/trait:languageParam:language"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/movie-paginated"
                        },
                        "examples": {
                            "application/json": {
                                "id": 1,
                                "page": 1,
                                "results": [
                                    {
                                        "adult": false,
                                        "backdrop_path": null,
                                        "genre_ids": [
                                            28
                                        ],
                                        "id": 140607,
                                        "original_language": "en",
                                        "original_title": "Star Wars: Episode VII - The Force Awakens",
                                        "overview": "A continuation of the saga created by George Lucas, set thirty years after Star Wars: Episode VI – Return of the Jedi.",
                                        "release_date": "2015-12-16",
                                        "poster_path": "/2HkBLnp20hoKsMAUCmn5LTZ5aSB.jpg",
                                        "popularity": 1.605747,
                                        "title": "Star Wars: Episode VII - The Force Awakens",
                                        "video": false,
                                        "vote_average": 5.3,
                                        "vote_count": 3
                                    }
                                ],
                                "total_pages": 3,
                                "total_results": 53
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/responses/StatusCodeMsgResponse"
                    },
                    "404": {
                        "$ref": "#/responses/StatusCodeMsgResponse"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/configuration": {
            "get": {
                "operationId": "get-configuration",
                "summary": "Get API Configuration",
                "tags": [
                    "Configuration"
                ],
                "description": "Get the system wide configuration information. Some elements of the API require some knowledge of this configuration data. The purpose of this is to try and keep the actual API responses as light as possible. It is recommended you cache this data within your application and check for updates every few days.\n\nThis method currently holds the data relevant to building image URLs as well as the change key map.\n\nTo build an image URL, you will need 3 pieces of data. The `base_url`, `size` and `file_path`. Simply combine them all and you will have a fully qualified URL. Here’s an example URL:\n\n    https://image.tmdb.org/t/p/w500/8uO0gUM8aNqYLs1OsTBQiXu0fEv.jpg\n\nThe configuration method also contains the list of change keys which can be useful if you are building an app that consumes data from the change feed.",
                "parameters": [
                    {
                        "name": "api_key",
                        "in": "query",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/configuration"
                        },
                        "examples": {
                            "application/json": {
                                "images": {
                                    "base_url": "http://image.tmdb.org/t/p/",
                                    "secure_base_url": "https://image.tmdb.org/t/p/",
                                    "backdrop_sizes": [
                                        "w300",
                                        "w780",
                                        "w1280",
                                        "original"
                                    ],
                                    "logo_sizes": [
                                        "w45",
                                        "w92",
                                        "w154",
                                        "w185",
                                        "w300",
                                        "w500",
                                        "original"
                                    ],
                                    "poster_sizes": [
                                        "w92",
                                        "w154",
                                        "w185",
                                        "w342",
                                        "w500",
                                        "w780",
                                        "original"
                                    ],
                                    "profile_sizes": [
                                        "w45",
                                        "w185",
                                        "h632",
                                        "original"
                                    ],
                                    "still_sizes": [
                                        "w92",
                                        "w185",
                                        "w300",
                                        "original"
                                    ]
                                },
                                "change_keys": [
                                    "adult",
                                    "air_date",
                                    "also_known_as",
                                    "alternative_titles",
                                    "biography",
                                    "birthday",
                                    "budget",
                                    "cast",
                                    "certifications",
                                    "character_names",
                                    "created_by",
                                    "crew",
                                    "deathday",
                                    "episode",
                                    "episode_number",
                                    "episode_run_time",
                                    "freebase_id",
                                    "freebase_mid",
                                    "general",
                                    "genres",
                                    "guest_stars",
                                    "homepage",
                                    "images",
                                    "imdb_id",
                                    "languages",
                                    "name",
                                    "network",
                                    "origin_country",
                                    "original_name",
                                    "original_title",
                                    "overview",
                                    "parts",
                                    "place_of_birth",
                                    "plot_keywords",
                                    "production_code",
                                    "production_companies",
                                    "production_countries",
                                    "releases",
                                    "revenue",
                                    "runtime",
                                    "season",
                                    "season_number",
                                    "season_regular",
                                    "spoken_languages",
                                    "status",
                                    "tagline",
                                    "title",
                                    "translations",
                                    "tvdb_id",
                                    "tvrage_id",
                                    "type",
                                    "video",
                                    "videos"
                                ]
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/configuration/countries": {
            "get": {
                "operationId": "get-countries-list",
                "summary": "Get Countries",
                "tags": [
                    "Configuration"
                ],
                "description": "Get the list of countries (ISO 3166-1 tags) used throughout TMDb.",
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/translation"
                            }
                        },
                        "examples": {
                            "application/json": [
                                {
                                    "iso_3166_1": "FR",
                                    "english_name": "France"
                                },
                                {
                                    "iso_3166_1": "GA",
                                    "english_name": "Gabon"
                                },
                                {
                                    "iso_3166_1": "GB",
                                    "english_name": "United Kingdom"
                                }
                            ]
                        }
                    },
                    "401": {
                        "$ref": "#/responses/StatusCodeMsgResponse"
                    },
                    "404": {
                        "$ref": "#/responses/StatusCodeMsgResponse"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/configuration/jobs": {
            "get": {
                "operationId": "get-jobs-list",
                "summary": "Get Jobs",
                "tags": [
                    "Configuration"
                ],
                "description": "The the list of official jobs that are used on TMDb.",
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/jobs"
                            }
                        },
                        "examples": {
                            "application/json": [
                                {
                                    "department": "Writing",
                                    "jobs": [
                                        "Screenplay"
                                    ]
                                }
                            ]
                        }
                    },
                    "401": {
                        "$ref": "#/responses/StatusCodeMsgResponse"
                    },
                    "404": {
                        "$ref": "#/responses/StatusCodeMsgResponse"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/configuration/languages": {
            "get": {
                "operationId": "get-languages-list",
                "summary": "Get Languages",
                "tags": [
                    "Configuration"
                ],
                "description": "Get the list of languages (ISO 639-1 tags) used throughout TMDb.",
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/translation"
                            }
                        },
                        "examples": {
                            "application/json": [
                                {
                                    "iso_639_1": "xx",
                                    "english_name": "No Language",
                                    "name": "No Language"
                                },
                                {
                                    "iso_639_1": "fr",
                                    "english_name": "French",
                                    "name": "Français"
                                }
                            ]
                        }
                    },
                    "401": {
                        "$ref": "#/responses/StatusCodeMsgResponse"
                    },
                    "404": {
                        "$ref": "#/responses/StatusCodeMsgResponse"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/configuration/primary_translations": {
            "get": {
                "operationId": "get-primary-translations-list",
                "summary": "Get primary translations",
                "tags": [
                    "Configuration"
                ],
                "description": "Get a list of the officially supported translations on TMDb.",
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "examples": {
                            "application/json": [
                                "fi-FI",
                                "fr-CA",
                                "fr-FR",
                                "gl-ES",
                                "he-IL"
                            ]
                        }
                    },
                    "401": {
                        "$ref": "#/responses/StatusCodeMsgResponse"
                    },
                    "404": {
                        "$ref": "#/responses/StatusCodeMsgResponse"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/configuration/timezones": {
            "get": {
                "operationId": "get-timezones-list",
                "summary": "Get List",
                "tags": [
                    "Configuration"
                ],
                "description": "Get the list of supported timezones on TMDb.",
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/timezones"
                            }
                        },
                        "examples": {
                            "application/json": [
                                {
                                    "iso_3166_1": "AD",
                                    "zones": [
                                        "Europe/Andorra"
                                    ]
                                },
                                {
                                    "iso_3166_1": "AQ",
                                    "zones": [
                                        "Antarctica/McMurdo",
                                        "Antarctica/Rothera",
                                        "Antarctica/Palmer",
                                        "Antarctica/Mawson",
                                        "Antarctica/Davis",
                                        "Antarctica/Casey",
                                        "Antarctica/Vostok",
                                        "Antarctica/DumontDUrville",
                                        "Antarctica/Syowa",
                                        "Antarctica/Troll"
                                    ]
                                },
                                {
                                    "iso_3166_1": "AR",
                                    "zones": [
                                        "America/Argentina/Buenos_Aires",
                                        "America/Argentina/Cordoba",
                                        "America/Argentina/Salta",
                                        "America/Argentina/Jujuy",
                                        "America/Argentina/Tucuman",
                                        "America/Argentina/Catamarca",
                                        "America/Argentina/La_Rioja",
                                        "America/Argentina/San_Juan",
                                        "America/Argentina/Mendoza",
                                        "America/Argentina/San_Luis",
                                        "America/Argentina/Rio_Gallegos",
                                        "America/Argentina/Ushuaia"
                                    ]
                                },
                                {
                                    "iso_3166_1": "ES",
                                    "zones": [
                                        "Europe/Madrid",
                                        "Africa/Ceuta",
                                        "Atlantic/Canary"
                                    ]
                                },
                                {
                                    "iso_3166_1": "FR",
                                    "zones": [
                                        "Europe/Paris"
                                    ]
                                },
                                {
                                    "iso_3166_1": "ZW",
                                    "zones": [
                                        "Africa/Harare"
                                    ]
                                }
                            ]
                        }
                    },
                    "401": {
                        "$ref": "#/responses/StatusCodeMsgResponse"
                    },
                    "404": {
                        "$ref": "#/responses/StatusCodeMsgResponse"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/credit/{credit_id}": {
            "parameters": [
                {
                    "name": "credit_id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ],
            "get": {
                "operationId": "get-credit-details",
                "summary": "Get Details",
                "tags": [
                    "Credits"
                ],
                "description": "Get a movie or TV credit details by id.",
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/credit"
                        },
                        "examples": {
                            "application/json": {
                                "credit_type": "cast",
                                "department": "Actors",
                                "job": "Actor",
                                "media": {
                                    "id": 1396,
                                    "name": "English Breaking Bad",
                                    "original_name": "Breaking Bad",
                                    "character": "Walter White",
                                    "episodes": [],
                                    "seasons": [
                                        {
                                            "air_date": "2012-07-15",
                                            "poster_path": "/elHbM2Ke72euRDXofdewP9GY5Y8.jpg",
                                            "season_number": 5
                                        }
                                    ]
                                },
                                "media_type": "tv",
                                "id": "52542282760ee313280017f9",
                                "person": {
                                    "name": "Bryan Cranston",
                                    "id": 17419
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/responses/StatusCodeMsgResponse"
                    },
                    "404": {
                        "$ref": "#/responses/StatusCodeMsgResponse"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/discover/movie": {
            "get": {
                "operationId": "get-discover-movie-paginated",
                "summary": "Movie Discover",
                "tags": [
                    "Discover"
                ],
                "description": "Discover movies by different types of data like average rating, number of votes, genres and certifications. You can get a valid list of certifications from the /certifications method.\n\nDiscover also supports a nice list of sort options. See below for all of the available options.\n\nPlease note, when using `certification` \\ `certification.lte` you must also specify `certification_country`. These two parameters work together in order to filter the results. You can only filter results with the countries we have added to our [certifications list](#endpoint:faFKjuKG2HnwexAWM).\n\nIf you specify the `region` parameter, the regional release date will be used instead of the primary release date. The date returned will be the first date based on your query (ie. if a `with_release_type` is specified). It's important to note the order of the release types that are used. Specifying \"2|3\" would return the limited theatrical release date as opposed to \"3|2\" which would return the theatrical date.",
                "parameters": [
                    {
                        "name": "sort_by",
                        "in": "query",
                        "description": "Choose from one of the many available sort options.",
                        "type": "string",
                        "enum": [
                            "",
                            "popularity.asc",
                            "popularity.desc",
                            "release_date.asc",
                            "release_date.desc",
                            "revenue.asc",
                            "revenue.desc",
                            "primary_release_date.asc",
                            "primary_release_date.desc",
                            "original_title.asc",
                            "original_title.desc",
                            "vote_average.asc",
                            "vote_average.desc",
                            "vote_count.asc",
                            "vote_count.desc"
                        ],
                        "default": "popularity.desc"
                    },
                    {
                        "name": "certification_country",
                        "in": "query",
                        "description": "Used in conjunction with the certification filter, use this to specify a country with a valid certification.",
                        "type": "string"
                    },
                    {
                        "name": "certification",
                        "in": "query",
[...]
